<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>My Website - About</title>
 <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
 <style type="text/css">
    body{
      padding-top: 40px;
    }
    h1, p{
      text-align:center;
    }
    h1{
      font-size:64px;
      margin:75px 0 50px;
    }
    p{
      font-size:24px;
      margin:15px auto;
      width: 50%;
    }

    img {
     display: block;
     margin: auto;
     width: 324px;
     border-radius: 100%;
    }
  </style>
</head>
<body>
 <img src="{{ url_for('static', filename='image.png') }}" alt="image" srcset="">   
 <h1>Saaeen A. Grant</h1>
 <p>I am a dedicated and hardworking professional with a passion for continuous learning and personal growth, I thrive in dynamic environments that challenge me to think critically and creatively. I have excellent problem-solving skills, strong attention to detail, and a commitment to delivering high-quality results. My ability to collaborate with diverse teams and adapt to new challenges has helped me excel in my career. In addition to my professional expertise, I am highly motivated, organized, and always eager to develop new skills.</p>
</body>
</html>